
body{
    background: url(images/background3.jpg);
    background-size: auto;
}
inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: sclae(1.5);
}